<%= simple_form_for(@beca) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.input :fotobeca, :label => 'Imagen de Institucion' %>
    <%= f.input :nombre, :label => 'Nombre Institucion' %>
    <%= f.input :descripcion, :label => 'Descripcion' %>
    <%= f.input :pais, :label => 'Pais' %>
    <%= f.input :web, :label => 'Sitio Web' %>
    <%= f.input :fecha, :label => 'Fecha Limite' %>
    <%= f.input :carreras, :label => 'Carreras Afin' %>
    <%= f.input :representante, :label => 'Representante' %>
    <%= f.input :contacto, :label => 'Contacto' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
