<div class="general">
		<p id="notice"><%= notice %></p>
		<p>
		<%= image_tag @beca.fotobeca.url :big %>

		</p>
		<p>

		  <div class="titulo"><h1><%= @beca.nombre %></h1></div>
		</p>

		<p>
		  <b>Pais:</b>
		  <div class="titulo"><%= @beca.pais %></div>
		</p>

		<p>
		  <b>Descripcion:</b>
		  <div class="titulo"><%= @beca.descripcion %></div>
		</p>

		<p>
		  <b>Sitio Web:</b>
		  <div class="titulo"><%= @beca.web %></div>
		</p>

		<p>
		  <b>Fecha Limite:</b>
		  <div class="titulo"><%= @beca.fecha %></div>
		</p>

		<p>
		  <b>Carreras Afin:</b>
		  <div class="titulo"><%= @beca.carreras %></div>
		</p>

		<p>
		  <b>Representante:</b>
		  <div class="titulo"><%= @beca.representante %></div>
		</p>

		<p>
		  <b>Contacto:</b>
		  <div class="titulo"><%= @beca.contacto %></div>
		</p>


		<%= link_to 'Back', estudia_path %>
</div>