<p id="notice"><%= notice %></p>
<p>
<%= image_tag @beca.fotobeca.url :big %>

</p>
<p>

  <h1><%= @beca.nombre %></h1>
</p>

<p>
  <b>Pais:</b>
  <%= @beca.pais %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @beca.descripcion %>
</p>

<p>
  <b>Sitio Web:</b>
  <%= @beca.web %>
</p>

<p>
  <b>Fecha Limite:</b>
  <%= @beca.fecha %>
</p>

<p>
  <b>Carreras Afin:</b>
  <%= @beca.carreras %>
</p>

<p>
  <b>Representante:</b>
  <%= @beca.representante %>
</p>

<p>
  <b>Contacto:</b>
  <%= @beca.contacto %>
</p>


<%= link_to 'Edit', edit_beca_path(@beca) %> |
<%= link_to 'Back', becas_path %>
