
<div class="row-fluid  borde">
	<div class="container bordeAzul">
<% @posts = Post.find(:all, :order => "id DESC") %>


<%  @posts = Post.paginate(:page => params[:page], :per_page => 2) %>
  <% @posts.each do |post| %>
		<div class="row">
			<div class="span11 bordeAzul">
				<p><%=link_to (image_tag post.fotopost1.url :thumb), post %></p>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid borde">	
	<div class="container">
		<div class="row">
			<div class="span11 borde">
    			<p><%=link_to post.titulo, post %></p>
			</div>
			<div class="span11 borde">
    			<p><%= link_to post.user.name, post.user %></p>
			</div>
			<div class="span10 borde">
    			<p><%= post.descripcion %></p>
			</div>
			<div class="span3 borde">
    			<p><%= post.categorias.map {|x| x.to_label}.join ', ' %></p>
			</div>
			<div class="span3 borde">
    			<p><%= post.gusta %></p>
    		</div>
			<div class="span3 borde">
				<p><%= post.nogusta %></p>
			</div>
    		<p><%= post.vistas %></p>
    		<p></p>
		</div>

<% end %>
<%= will_paginate @posts %>
	</div>
</div>