<h1>Todos los Proyectos</h1>
<% @posts = Post.find(:all, :order => "id DESC") %>


<%  @posts = Post.paginate(:page => params[:page], :per_page => 2) %>
  <% @posts.each do |post| %>
  <div>
    <p><%= link_to (image_tag post.fotopost1.url :thumb), post %></p>
   
    <p><%=link_to post.titulo, post %></p>
    <p><%= post.descripcion %></p>
    <p><%= link_to post.user.name, post.user %></p>
    <p><%= post.categorias.map {|x| x.to_label}.join ', ' %></p>
    <p><%= post.gusta %></p>
    <p><%= post.nogusta %></p>
    <p><%= post.vistas %></p>
    
    <p></p>
 </div>

<% end %>
<%= will_paginate @posts %>