<div class="general">
	
<div class="imagen">
	<p>
	<%= image_tag @user.avatar.url :big %>
	</p>	
</div>

<div class="titulo">
	<p>
  		<b>Usuario:</b>
	</p>
</div>
<div class="margenes2">
  		<%=h @user.name %>
</div>


<div class="titulo">
	<p>
  		<b>Email:</b>
		
	</p>
</div>
<div class="margenes2">
  		<%=h @user.email %>
</div>

<div class="titulo">
	<p>
  		<b>Nombre:</b>
	</p>
</div>
<div class="margenes2">
  		<%=h @user.nombre %>
		<%=h @user.apellido %>
</div>
	
	
<div class="titulo">
	<p>
  		<b>Profesion:</b>
	</p>
</div>
<div class="margenes2">
  		<%=h @user.profesion %>
</div>

<div class="titulo">
<p>

  <b>Compania:</b>


</p>
</div>

<div class="margenes2">
  <%=h @user.compania %>
</div>


<div class="titulo">
<p>
  <b>Sitio Web:</b>
</p>
</div>
<div class="margenes2">
  <%=h @user.web %>
</div>

<div class="titulo">
<p>
  <b>Ciudad y pais:</b>

</p>
</div>
<div class="margenes2">
	<%=h @user.ciudad %>
  <%=h @user.pais %> 
</div>

<div class="titulo">
<p>
  <b>Sobre mi:</b>
</p>
</div>
<div class="margenes2">
  <%=h @user.about %>
</div>

<div class="titulo">
<p>
 <b>Intereses:</b>
</p>
</div>
<div class="margenes2">
      <%= @user.categorias.map {|x| x.to_label}.join ', ' %>
</div>

</div>

<div class="cuenta">
<%= link_to 'Editar mi Cuenta', edit_account_path %>
</div>





