<div class="general">
	
<div class="imagen">
	<p>
	<%= image_tag @user.avatar.url :big %>
	</p>	
</div>

<div class="titulo">
	<p>
  		<b>Usuario:</b>
</div>
  		<%=h @user.name %>
	</p>


<div class="titulo">
	<p>
  		<b>Email:</b>
</div>
  		<%=h @user.email %>
	</p>


<div class="titulo">
	<p>
  		<b>Nombre:</b>
</div>
  		<%=h @user.nombre %>
		<%=h @user.apellido %>
	</p>
	
	
<div class="titulo">
	<p>
  		<b>Profesion:</b>
</div>
  		<%=h @user.profesion %>
	</p>

<div class="titulo">
<p>
  <b>Compania:</b>
</div>
  <%=h @user.compania %>
</p>

<div class="titulo">
<p>
  <b>Sitio Web:</b>
</div>
  <%=h @user.web %>
</p>

<div class="titulo">
<p>
  <b>Ciudad y pais:</b>
</div>
	<%=h @user.ciudad %>
  <%=h @user.pais %> 

</p>

<div class="titulo">
<p>
  <b>Sobre mi:</b>
</div>
  <%=h @user.about %>
</p>

<div class="titulo">
<p>
 <b>Intereses:</b>
</div>
      <%= @user.categorias.map {|x| x.to_label}.join ', ' %>
</p>

</div>

<div class="cuenta">
<%= link_to 'Editar mi Cuenta', edit_account_path %>
</div>





