<h1>Concursos</h1>

<div class="general">

			<% @concursos = Concurso.find(:all, :order => "id DESC") %>
			<%  @concursos = Concurso.paginate(:page => params[:page], :per_page => 8) %>
  			<% @concursos.each do |concurso| %>
			
					<p><%=link_to (image_tag concurso.fotoconcurso.url :thumb), concurso %></p>
	
					<p><%=link_to concurso.titulo, concurso %></p>
					<p><%= concurso.entrega %></p>
					<p><%= concurso.descripcion %></p>
			<% end %>
<%= will_paginate @concursos %>
</div>
