
<div class="margenes">
	
</div>

<h1>Becas en el Extranjero</h1>
<div class="margenes">
	<div class="row-fluid margenes">
		<div class="container ">
			<% @becas = Beca.find(:all, :order => "id DESC") %>
			<%  @becas = Beca.paginate(:page => params[:page], :per_page => 8) %>
  			<% @becas.each do |beca| %>
			
					<p><%= link_to (image_tag beca.fotobeca.url :big), beca %></p>
  					<p><h2><%= link_to beca.nombre, beca %></h2></p>
				    <p><%= beca.pais %></p>
				    <p><%= beca.fecha %></p>
				    <p><%= beca.carreras %></p>
		<% end %>
	<div class="row-fluid general">
		<div class ="container">
			<div class="row">
				<div class="span12 margenes2">
					<h1>Becas</h1>
					<p>Find me in app/views/contenido/estudia.html.erb</p>
				</div>
				
				<div class="span5 ">
					In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque posuere justo adipiscing nisi scelerisque mattis. Aenean accumsan suscipit nisi, eu mollis mauris lobortis at. Nunc rutrum dui eget enim pretium lobortis a ut justo. Aliquam et lorem ligula, nec varius lacus. Cras volutpat, arcu nec congue pellentesque, erat arcu ullamcorper sem, nec commodo dolor risus id ipsum. Integer id elit eget justo auctor facilisis. Vivamus tellus urna, venenatis at ultrices at, venenatis ut nunc. Morbi feugiat rhoncus sapien nec aliquam. 
				</div>
				
				<div class="span6 ">
					Vestibulum ullamcorper, ipsum ac auctor euismod, diam quam dapibus elit, vitae venenatis tortor arcu sed augue. Suspendisse dolor velit, sollicitudin at gravida eget, egestas nec ante. Donec faucibus urna a libero vehicula et pulvinar lorem tincidunt. Ut vitae lorem id arcu sagittis imperdiet. Donec ac mauris a lacus interdum commodo sit amet non risus. Cras at lectus ut nunc rhoncus blandit ac non risus. Curabitur pulvinar feugiat malesuada. Donec feugiat, turpis ut commodo commodo, ante neque dapibus nisl, molestie ultrices sem nulla at arcu. Nulla non risus ante, vitae aliquet mauris. Nulla laoreet congue venenatis. Aliquam posuere condimentum lobortis. Aliquam eu eros vel lorem viverra tincidunt. Sed blandit magna non velit viverra aliquam. Etiam urna purus, interdum ultricies aliquet at, fringilla id eros. 
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<%= will_paginate @becas %>

