<p id="notice"><%= notice %></p>

<p>
  
  <h1><%= @concurso.titulo %></h1>
</p>
<%= image_tag @concurso.fotoconcurso.url :big %>
<p>
  <b>Sitio Web:</b>
  <%= @concurso.web %>
</p>

<p>
  <b>Fecha Limite:</b>
  <%= @concurso.entrega %>
</p>

<p>

  <%= @concurso.descripcion %>
</p>

<p>
  <b>Jurado:</b>
  <%= @concurso.jurado %>
</p>

<p>
  <b>Premio:</b>
  <%= @concurso.premio %>
</p>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_concurso_path(@concurso) %> |
<% end %>
<%= link_to 'Back', competitions_path %>
